.shared-files-settings-container h1 {
  margin-bottom: 2rem;
}

.shared-files-settings-container .input-field {
  width: 300px;
}

.shared-files-settings-container .input-field-wide {
  width: 580px;
}

.shared-files-settings-container .form-table td,
.shared-files-settings-container .form-table th {
  padding: 0.5rem;
}

.shared-files-settings-container p {
  margin-bottom: 1rem;
}

.shared-files-settings-container .email-info {
  background: #eee;
  border: 1px solid #bbb;
  max-width: 600px;
  padding: .5rem;
  margin-top: .5rem;
  font-size: .8rem;
}

@media (max-width: 640px) {

  .shared-files-settings-container .form-table td input[type="text"].input-field-wide {
    width: 100%;
  }
  
}