#shared-file-description-title {
  font-weight: bold;
  margin: 20px 0 0 0;
}

#shared-file-description {
  width: 100%;
}

#shared-file-external-url-title {
  margin: 12px 0 8px 0;
}

#shared-file-external-url-title span {
  font-weight: bold;
}

#shared-file-external-url {
  width: 100%;
}

.shared-files-pro-only {
  background: #fff;  
  color: #bbb;
  border: 1px solid #eee;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  padding: 3px;
}

.shared-files-pro-only-inline {
  background: #fff;  
  color: #bbb;
  border: 1px solid #eee;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  padding: 1px 5px;
}

.pro-feature {
  margin-top: 20px;
  background: #fff;
  color: #bbb;
  padding: 2rem;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  margin-right: 2rem;
  border: 1px solid #bbb;
}

.pro-feature a {
  background: #6bc406;
  color: #fff;
  display: inline-block;
  font-style: normal;
  font-size: 1rem;
  padding: .25rem .5rem;
  text-decoration: none;
  margin-left: .5rem;  
  border: 1px solid #6bc406;
}

.pro-feature a:hover {
  background: #fff;
  color: #6bc406;
  border: 1px solid #6bc406;
}

#menu-posts-shared_file > ul > li > a.shared-files-upgrade {
  color: greenyellow;
}

#menu-posts-shared_file > ul > li > a.shared-files-upgrade:hover {
  color: greenyellow;
}

.shared-files-feedback-form-container {
  padding: 10px;
  background: #fff;
}

.shared-files-help-list-level-2 {
  list-style: circle;
  padding: .25rem 0 0 1.5rem;
}

.shared-files-help-list-level-3 {
  list-style: square;
  padding: .25rem 0 0 1.5rem;
}

.shared-files-shortcode {
  background: #fff;
  padding: 0 .5rem;
  font-weight: 300;
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 5px;
  font-size: 11px;
  border: 1px solid #eee;
}

#shared-file-notify-email-title {
  margin-top: 10px;
}

.shared-files-admin-small-fields {
  background: rgb(251, 251, 251);
  padding: 20px;
  margin-top: 20px;
}

.shared-files-admin-small-fields > div {
  width: 50%;
  float: left;
}

@media (max-width: 600px) {

  .shared-files-admin-small-fields > div {
    width: 100%;
    float: none;
  }

  #shared-file-expiration-date-title {
    margin-top: 10px;
  }

}

.shared-files-admin-small-fields span {
  font-weight: bold;
}

#shared-file-password-title {
  margin-top: 10px;
}

.shared-files-expiration-date-alert {
  background: crimson;
  color: #fff;
  font-weight: bold;
  padding: 3px 5px;
}

.shared-files-admin-small-fields input {
  margin-top: 8px;
  width: 160px;
}

.shared-files-admin-small-fields input[type="email"] {
  width: 300px;
}

.wrap > ol > li > ul > li {
   padding-bottom: .25rem;
}

.shared-files-examples {
  background: #f7f7f7;
  padding: 10px 20px;
  border: 1px solid #eee;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
}

hr.clear {
  background: none;
  border: 0;
  clear: both;
  display: block;
  float: none;
  font-size: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
